* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* html, body, #root, .App{
  height:100%
  
} */

@font-face {
  font-family: "bold";
  src: url("./fonts/bold.ttf");
}

@font-face {
  font-family: "medium";
  src: url("./fonts/medium.otf");
}

.App {
  background-image: url("./assets/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100vh;
}




